<!-- <div *ngIf="childSelectedShow">
<h3>{{childSelectedShow.headliner}}</h3>

<h3>Edit Show</h3>
<label>Date</label>
<input [(ngModel)]="childSelectedShow.date"><br>
<label>Headliner</label>
<input [(ngModel)]="childSelectedShow.headliner"><br>
<label>Opener</label>
<input [(ngModel)]="childSelectedShow.opener"><br>
<label>Time</label>
<input [(ngModel)]="childSelectedShow.showTime"><br>
<label>Ticket Price</label>
<input [(ngModel)]="childSelectedShow.tixPrice">

<button (click)="finishedEditing()">Done</button>

</div> -->
<h4>Edit Show</h4>

<label>New Date:</label>
<input [(ngModel)]="selectedShow.date">
<br>

<label>New Headliner:</label>
<input [(ngModel)]="selectedShow.headliner">
<br>

<label>New Opener:</label>
<input [(ngModel)]="selectedShow.opener">
<br>

<label>New Show Time:</label>
<input [(ngModel)]="selectedShow.showTime">
<br>

<label>New Ticket Price:</label>
<input [(ngModel)]="selectedShow.tixPrice">

<button (click)="beginUpdatingShow(selectedShow)">Update</button>

<button (click)="beginDeletingShow(selectedShow)">Delete</button>
