<body>
  <div class="background">

</div>

<nav class="navigation w-hidden-mediium w-hidden-small w-hidden-tiny">
  <div class="desktop-nav-topflex-wrapper">
    <img src="assets/img/logo.png">
    <div class="nav-item-wrapper">
      <div class="desktop-nav-item">Home</div>
      <div class="desktop-nav-item">Events</div>
      <div class="desktop-nav-item">History</div>
      <div class="desktop-nav-item">Menu</div>
      <div class="desktop-nav-item">Contact</div>
    </div>
  </div>
  <div class="social-media-wrapper">
    <a href="https://www.instagram.com/centralsaloon/"><img src="assets/img/instagram.png" alt=""></a>
<a href="https://www.facebook.com/thecentralsaloon/"><img src="assets/img/facebook.png" alt=""></a><a href="https://twitter.com/centralsaloonwa/"><img src="assets/img/twitter.png" alt=""></a>
  </div>

</nav>
</body>
