<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <div class="background">

</div>

<nav class="navigation w-hidden-mediium w-hidden-small w-hidden-tiny">
  <div class="desktop-nav-topflex-wrapper">
    <a routerLink=""><img src="assets/img/logo.png"></a>
    <div class="nav-item-wrapper"><br>
      <div class="desktop-nav-item"><a routerLink="">Home</a></div><br>
      <div class="desktop-nav-item"><a routerLink="events">Events</a></div><br>
      <div class="desktop-nav-item"><a routerLink="history">History</a></div><br>
      <div class="desktop-nav-item"><a routerLink="menu">Menu</a></div><br>
      <div class="desktop-nav-item"><a routerLink="contact">Contact</a></div><br><br>
    </div>
  </div>
  <div class="social-media-wrapper">
    <a href="https://www.instagram.com/centralsaloon/"><i class="fa fa-instagram" style="font-size:30px;color:white"></i>
</a>


<a href="https://www.facebook.com/thecentralsaloon/"><i class="fa fa-facebook-square" style="font-size:30px;color:white"></i></a>

<a href="https://twitter.com/centralsaloonwa/"><i class="fa fa-twitter" style="font-size:30px;color:white"></i></a>



  </div>

</nav>
</body>
