<body>
  <div class="background">

<!-- <img src="assets/img/background.jpg"> -->
</div>

<nav class="navigation w-hidden-mediium w-hidden-small w-hidden-tiny">
  <div class="desktop-nav-topflex-wrapper">
    <img src="assets/img/logo.png">
    <div class="nav-item-wrapper">
      <div class="desktop-nav-item">Home</div>
      <div class="desktop-nav-item">Events</div>
      <div class="desktop-nav-item">History</div>
      <div class="desktop-nav-item">Menu</div>
      <div class="desktop-nav-item">Contact</div>

    </div>
  </div>

</nav>
</body>
