<!-- <img src="assets/img/background.jpg"> -->

<app-nav></app-nav>
<app-show-list [childShowList]="masterShowList" (clickSender)="editShow($event)"></app-show-list>



<div *ngIf="selectedShow">
<h3>{{selectedShow.headliner}}</h3>

<h3>Edit Show</h3>
<label>Date</label>
<input [(ngModel)]="selectedShow.date"><br>
<label>Headliner</label>
<input [(ngModel)]="selectedShow.headliner"><br>
<label>Opener</label>
<input [(ngModel)]="selectedShow.opener"><br>
<label>Time</label>
<input [(ngModel)]="selectedShow.showTime"><br>
<label>Ticket Price</label>
<input [(ngModel)]="selectedShow.tixPrice">

<button (click)="finishedEditing()">Done</button>

</div>
