<p>ADMIN Add New Shows</p>
<div class="">

  <label>Date: </label>
  <input #newDate><br>
  <label>Headliner: </label>
  <input #newHeadliner><br>
  <label>Opener: </label>
  <input #newOpener><br>
  <label>Time: </label>
  <input #newShowTime><br>
  <label>Price: </label>
  <input #newTixPrice><br>
</div>
<div class="">

<button (click)="submitForm(newDate.value, newHeadliner.value, newOpener.value, newShowTime.value, newTixPrice.value); newDate.value=''; newHeadliner.value=''; newOpener.value=''; newShowTime.value=''; newTixPrice.value='';">Save</button>
</div>
